<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        p {border: 2px green solid; padding: 5px;}
    </style>
    <title>0109 django djoser authentication library demo1</title>
</head>
<body>
    <h2>0109 django djoser authentication library demo1</h2>
    <p>
        |___#ex0109 Djoser authentication install demo <br>| -------------------<br>
        | _____ 1- open shell<br>| >> pipenv shell <br>
        | _____ 2- install app djoser <br> | >> pipenv install djoser <br>
        | <br>
        |


    </p>
    <hr><br>
    <p>
        ___#ex0109 edit setting.py to include djoser <br>-----------------<i><b>settings.py</b></i> <br>
        <br>
        <br>



    </p>
</body>
</html>