<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        p {padding: 5px; border: 2px green solid;}
    </style>
    <title>0111 django final quiz </title>
</head>
<body>
    <h2>0111 final quiz </h2>
    <p>
        1- <br>
        | .. True <br>
        <br>
        1.1 - to accept GET, PUT, POST, DELETE call, which generic view need to extend your class-based view? <br>
        | .. RetrieveUpdateDestroyAPIView <br>



        2- <br>
        | .. True <br>
        <br>
        2.2 - decorator used to display the browsable API view from a function-based view <br>
        > api_view()  decorator <br>

        <br>
        3- what does code do? <br>
        | .. def __str__(self)-> str: <br>
        | ...... return self.title <br>
        <br>
        > converts the model into string representation <br>
        <br>
        Xconverts title field...
        <br>
        video > relationship serializer > mod2, l2 <br>
        ----------------------------------------------<br>
        <br>
        3.1 - when model linked in a serializer class, default pk is id, if want to set title field to pk? <br>
        > done by setting title field as the primary key <br>
        <br>
        video > mod2 l2 > relationship serializers <br>

        <br>
        <br>
        4- good naming conventions for API endpoints?  <br>
        > avoid verbs in name <br>
        > use lowercase names <br>
        > seperate w/ hyphen <br>
        <br>
        video > Naming conventions > mod1 l2 <br>
        <br>
        <br>________________________<br>
        5- pipenv <br>--------<br>used to auto create a virtual env for django projects <br>
        <br>
        <br>
        <br>
        6- benefits of API call signing<br>------------------<br>
        > increase API security <br>
        > ensure data authenticity <br>
        > give access to resource for certain period of time <br>
        <br>
        video > mod1, l3 > security & authentication in rest api <br>
        <br>
        <br>
        <br>
        7- watchlist is used to pause the code execution on a specific line & check the values of current variables <br>
        >> false <br>
        video > mod1, l4 > debugging your api <br>
        <br>
        <br>
        8- djoser auto creates the API endpoint ' /users/ ' that helps register new users <br>
        <br>
        <br>
        9- where can you validate input data? <br>
        > in models <br>
        > serializer classes <br>
        <br>
        X views <br>
        read > mod3 l1 > importance of data validation <br>
        <br>
        <br>
        10- benefits of caching?<br>------------------<br>
        > save bandwidth & network resources <br>
        > less load on db <br>
        > less load on webserver <br>
        > reduce infrastructure bills <br>



    </p>
</body>
</html>